<!DOCTYPE html>
	<html>
		<head>
			<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon_package_v0.16/favicon.ico?">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:reid@case.edu">email</a></li>
	        		<li><a href="https://github.com/rbold">github.com/rbold</a></li>
				</ul>
			</footer>
		</body>
	</html>
